* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --c-bg: #241216;
  --c-surface: #32181f;
  --c-surface-2: #3b1d26;
  --c-border: #572832;
  --c-primary: #d45d79;
  --c-primary-deep: #b04760;
  --c-accent: #ff9eb5;
  --c-danger: #c0395b;
  --c-text: #f7e6ea;
  --c-text-muted: #c08a96;

  --font-main: 'Sarasa UI', 'PingFang SC', 'Microsoft YaHei', sans-serif;
}
